<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css">
    <script src="https://kit.fontawesome.com/0f65edafbd.js" crossorigin="anonymous"></script>
    <title>Register</title>
  </head>
  <body>
    <div class="b-container bg-6">
      <div class="fake-div"></div>
      <div class="b-header bg-n">
        <div class="b-header__logo">
            <a href="/"><h2 class="b-header__title">App Schedule</h2></a>
        </div>
        <div class="b-header__links"></div>
      </div>
      <div class="c-form">
          <div class="c-form__links">
              <h1 class="c-form__title">Register</h1>
              <a class="c-form__link" href="/auth/login">Log in</a>
          </div>
          <form class="b-form" action="/auth/register" method="POST">
              <div class="b-form__inputBox"><input class="b-form__input" type="text" name="name" placeholder="Nombre"/></div>
              {{!-- <div class="b-form__inputBox"><input class="b-form__input" type="text" name="surname" placeholder="Apellido"/></div>
              <div class="b-form__inputBox"><input class="b-form__input" type="text" name="nick" placeholder="Nick"/></div> --}}
              <div class="b-form__inputBox"><input class="b-form__input" type="text" name="email" placeholder="Email"/></div>
              <div class="b-form__inputBox"><input class="b-form__input" type="password" name="password" placeholder="Password"/></div>
              <div class="b-form__inputBox"><input class="b-form__input b-button" type="submit"></div>
          </form>
      </div>
    </div>
  </body>
</html>