:root {

    --sky-hard: #a7a2f7;
    --blue-hard: #5a4fef;
    --violet-hard: #661d96;
    --dark-hard: #15182D;
    --pink-hard: #EF4F9B;
    --orange-hard: #f89c5f;
    --yellow-hard: #efec4f;
    --grey-hard: #eeeeee;
    --gray-hard: #bdbdbd;
    --white-hard: #FFFFFF;


    --sky-soft: #a7a2f7;
    --blue-soft: #5a4fef;
    --violet-soft: #661d969c;
    --dark-soft: #15182D;
    --pink-soft: #EF4F9B;
    --orange-soft: #f89c5f60;
    --yellow-soft: #efec4f;
    --grey-soft: #eeeeee;
    --gray-soft: #bdbdbd86;
    --white-soft: #ffffff88;
   }