.b-modal {
    position: fixed;
    top:28%;
    left: -1500px;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s;

    &__block {
        position: relative;

        width: 90%;
        height: 280px;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--white-hard);
        box-shadow: 0 0 20px 0 var(--gray-hard);

        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media(min-width: 560px) {
            width: 80%;
        }

        @media(min-width: 760px) {
            width: 60%;
        }

        @media(min-width: 960px) {
            width: 40%;
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;

        width: 30px;
        height: 30px;
        border-radius: 50%;

        background-color: var(--violet-medium);
        cursor: pointer;
    }

    &__heading {
        position: absolute;
        top: 35px;
        left: 10%;

        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__title {
        color: var(--dark-hard);
        font-size: 22px;
    }

    &__text {
        margin: 10px 0;
        color: var(--violet-hard);
        font-size: 14px;
        font-weight: 200;
    }

    &__buttons {
        width: 75%;
    }

    &__button {
        margin: 10px 0;
    }
}
