<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/js/index.js"></script>
    <title>{{user.name}}</title>
</head>

<body>
    <div class="b-container bg-2">
       <div class="fake-div"></div>
       <div id="menu" class="b-header bg-1">
           <div class="b-header__controls">
                <div id="btn-menu" class="b-header__icon"></div>
                <div class="b-header__logo">
                    <a href="/"><h2 class="b-header__title">App Schedule</h2></a>
                </div>
            </div>
            <div class="b-header__links">
                <a class="b-header__link" href="/schedule">Schedule</a>
                <a class="b-header__link" href="/todos">Todos</a>
                <a class="b-header__link" href="/meetings">Meets</a>
                <a class="b-header__link" href="/users/user/{{user.id}}">{{user.name}}</a>
                <form class="b-header__form" action="/auth/logout" method="POST">
                    <button class="b-header__button" type="submit">Out</button>
                </form>
            </div>
        </div>
        <div class="b-schedule">
            <h2 class="b-schedule__link">Datos de reunión</h2>
            <div class="b-user">
                <form class="b-user__form" action="/meetings/create" method="POST">
                    <h3 class="b-user__head">Crea tu reunión</h3>
                    <div class="b-form__inputBox"><input class="b-form__input" type="text" name="name" placeholder="Nombre de la reunión"/></div>
                    <div class="b-form__inputBox"><input class="b-form__input" type="text" name="date" placeholder="Fecha de la reunión"/></div>
                    <div class="b-form__inputBox"><select class="b-form__input" name="done" id="done">
                        <option value="true">Terminado</option>
                        <option value="false">Por hacer</option>
                    </select>
                    </div>
                    <div class="b-form__inputBox"><textarea class="b-form__input" name="message" placeholder="Da una breve descripción" cols="30" rows="10"></textarea></div>
                    <div class="b-form__inputBox"><input class="b-form__input b-button" type="submit"></div>
                </form>
            </div>
        </div>
        <div class="b-footer">
            <p class="b-footer__text">All rights reserved</p>
        </div>
    </div>
</body>
</html>