<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>Agenda App</h1>

    <a href="/">Inicio</a>

    <form action="/schedule/add/?_method=PUT" method="POST">
        <button type="submit">Actualizar Agenda</button>
    </form>

    <a href="/todo">Tareas</a>
    <ul>
        {{#each scheduleContain.todo}}
            <li>{{this}}</li>
        {{/each}} 
    </ul>

    
    <a href="/meeting">Reuniones</a>
    <ul>
        {{#each scheduleContain.meeting}}
            <li>{{this}}</li>
        {{/each}} 
    </ul>
    
</body>
</html>